.custom-pagination .page-link {
  background-color: #1c2541;
  color: #fff;
  border: 1px solid #1c2541;
}

.custom-pagination .page-link:hover {
  background-color: #16203a;
  border-color: #16203a;
}

.custom-pagination .page-item.active .page-link {
  background-color: #1c2541;
  border-color: #1c2541;
}